/* button */
/* 
변동값 확인 필요
- padding, font-size, height, font-weight, border, color, background-color, line-height
*/


/* normal,basic */
[class^='btnNormal'], a[class^='btnNormal'] 
{ 
display:inline-flex;
align-items: center;
justify-content: center;  
padding:12px 20px;
height:40px; 
font-size:13px; 
font-weight:normal;
line-height:1;
border:1px solid #bcbcbc;
vertical-align:middle;
white-space:nowrap;
color:#000; 
background-color:#fff;
}
/* 베이직 버튼 */
[class^='btnBasic'], a[class^='btnBasic'] 
{ 
display:inline-flex;
align-items: center;
justify-content: center;
padding:2px 8px; 
border:1px solid #bcbcbc; 
font-size:12px; 
line-height:18px; 
font-weight:normal; 
vertical-align:middle; 
white-space:nowrap; 
color:#222; 
background-color:#f0f0f0; 
}

/* 제출 버튼 */
[class^='btnSubmit'], a[class^='btnSubmit'] 
{ 
display:inline-flex;
align-items: center;
justify-content: center;
padding:12px 20px;
height:40px; 
font-size:13px; 
border:1px solid#bcbcbc; 
line-height:1; 
font-weight:bold; 
vertical-align:middle; 
white-space:nowrap; 
color:#fff; 
background-color:#000; }

/* 강조형 버튼 */
[class^='btnEm'], a[class^='btnEm'] 
{ 
display:inline-flex;
align-items: center;
justify-content: center; 
padding:2px 8px; 
border:1px solid#bcbcbc; 
font-size:12px; 
line-height:18px; 
font-weight:normal; 
vertical-align:middle; 
white-space:nowrap; 
color:#fff; 
background-color:#737373; }

/* sizeQty */
[class^='btn'].sizeQty { padding:9px 20px; height:30px; margin-left:6px; font-size:12px; line-height:12px; }

/* btnText */
.btnText { 
display:inline-flex;
align-items: center;
justify-content: center;font-size:13px; line-height:18px; text-decoration:underline; }
/* width full */
[class^='btn'].gFull { width:100%; }

/* btnMore */
.btnMore { 
display:inline-flex;
align-items: center;
justify-content: center;
min-width: 220px; 
padding: 15px 0; 
border:1px solid #bcbcbc; 
transition: all 400ms;}

.btnMore:hover{background: #222; border-color: #222; color: #fff; text-decoration: none;}
.btnMore .icon{ margin: -8px 0 0 10px; vertical-align: middle;}
.btnMore:hover .icon{border-color: #fff;}

[class^='btnNormal']:not(.disabled):hover,
[class^='btnNormal']:not(.disabled).selected { border-color:#000; }
[class^='btnEm']:not(.disabled):hover { background-color:#77797d; }
[class^='btnBasic']:not(.disabled):hover { background-color:#e5e5e5; }
[class^='btnNormal'].disabled { border-color:#e3e3e3; color:#999; }
[class^='btnSubmit'].disabled { background-color:#9297a2; color:#f0f0f0; }
[class^='btnEm'].disabled { background-color:#b5b6b9; color:#f0f0f0; }
[class^='btnBasic'].disabled { color:#999; }

/* ec-base-button */
.ec-base-button.justify { position:relative; }
.ec-base-button:after { display:block; content:""; clear:both; }

/* type */
.ec-base-button.typeBorder { margin-top:-1px; padding:10px 20px; border:1px solid #bcbcbc; }

/* gBottom */

/* gColumn */
.ec-base-button[class*="gColumn"] { display:-webkit-flex; display:-moz-flex; display:-ms-flex; display:flex; -webkit-justify-content:center; -moz-justify-content:center; -ms-justify-content:center; justify-content:center; }
.ec-base-button[class*="gColumn"]:after { display:none; }
.ec-base-button[class*="gColumn"] [class^='btn'] { white-space:normal; -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; display:-webkit-flex; display:-moz-flex; display:-ms-flex; display:flex; -webkit-align-items:center; -moz-align-items:center; -ms-align-items:center; align-items:center; -webkit-justify-content:center; -moz-justify-content:center; -ms-justify-content:center; justify-content:center; }
.ec-base-button[class*="gColumn"] .gFlex2 { -webkit-flex:2; -moz-flex:2; -ms-flex:2; flex:2; } 
.ec-base-button[class*="gColumn"] .gFlex3 { -webkit-flex:3; -moz-flex:3; -ms-flex:3; flex:3; } 
.ec-base-button[class*="gColumn"] .gFlex4 { -webkit-flex:4; -moz-flex:4; -ms-flex:4; flex:4; } 
/* gFixed */
.ec-base-button.gFixed { position:fixed; z-index:990; left:0; bottom:0; max-width:100%; width:100%; margin:0; background:#fff; }


/* 
btn size
custom 영역
*/
.ec-base-button [class^='btn'].sizeL {}
.ec-base-button [class^='btn'].sizeM {}
.ec-base-button [class^='btn'].sizeS {}



/************************************************************ 
btn 반응형
*************************************************************/


/********************* Mobile *********************/
@media all and (max-width:767px) {
	[class^='btnNormal'], a[class^='btnNormal'],
	[class^='btnSubmit'], a[class^='btnSubmit'],
	[class^='btnEm'], a[class^='btnEm'],
	[class^='btnBasic'], a[class^='btnBasic'] {}
	.btnMore {}
}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
	/* size */
	[class^='btn'].sizeS {}
	[class^='btn'].sizeM {}
	[class^='btn'].sizeL {}
	
	/* width Fix */
	[class^='btn'][class*='Fix'] {}
	[class^='btn'][class*='Fix'].sizeS {}
	[class^='btn'][class*='Fix'].sizeM {}
	[class^='btn'][class*='Fix'].sizeL {}

	/* ec-base-button */
	.ec-base-button {}
	.ec-base-button [class^='btn'] + [class^='btn'] {}
	
	/* gBottom */
	.ec-base-button.gBottom {}
	.ec-base-button.gBottom .gLeft,
	.ec-base-button.gBottom .gRight {}
    .ec-base-button.gBottom .gLeft > span {}
	.ec-base-button.gBottom [class^='btn'] {flex:1;}
	.ec-base-button.gBottom [class^='btn'] + [class^='btn'] {}
	
	/* gBreak */
	.ec-base-button.gBreak {}
	.ec-base-button.gBreak .gLeft + .gRight {}
	.ec-base-button.gBreak .gBreak {}
	.ec-base-button.gBreak > [class^='btn'] + [class^='btn'],
	.ec-base-button.gBreak .gBreak [class^='btn'] + [class^='btn'] {}
	.ec-base-button .ec-base-button[class*="gColumn"] {}
	
	/* gColumnM (mobile only flex) */
	.ec-base-button[class*="gMColumn"] {}
	.ec-base-button[class*="gMColumn"]:after {}
	.ec-base-button[class*="gMColumn"] [class^='btn'] {}
	.ec-base-button[class*="gMColumn"] .gLeft,
	.ec-base-button[class*="gMColumn"] .gRight {}
	
	/* reset */
	.gInnerMargin .ec-base-button,
	.gInnerMargin .ec-base-button.gBottom,
	.gInnerMargin.ec-base-button.gBottom {}
}

/********************* PC *********************/
@media all and (min-width:1025px) {
	/* size */
	[class^='btn'].sizeS {}
	[class^='btn'].sizeM {}
	[class^='btn'].sizeL {}
	
	/* width Fix */
	[class^='btn'][class*='Fix'] {}
	[class^='btn'][class*='Fix'].sizeS {}
	[class^='btn'][class*='Fix'].sizeM {}
	[class^='btn'][class*='Fix'].sizeL {}
}